# Cấu hình CSDL PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=crm_namkhanh
DATABASE_URL="postgresql://postgres:123456@127.0.0.1:5432/crm_namkhanh?schema=public"

# Cấu hình JWT Token
JWT_SECRET="crm_namkhanh_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Cổng khởi chạy
BACKEND_PORT=5000
FRONTEND_PORT=3000
